# Entorno virtual
venv/

# Variables de entorno
.env

# Archivos Python compilados
__pycache__/
*.pyc
*.pyo

# Node / Frontend
node_modules/
Frontend/.angular/cache/
**/.angular/cache/
Frontend/.angular/cache 2/
**/.angular/cache 2/

# Sistema
.DS_Store

# Base de datos
*.db
*.db-journal
*.db-shm
*.db-wal

# Artefactos locales
.claude/
package-lock.json
