# Entorno virtual
venv/

# Variables de entorno
.env

# Archivos Python
__pycache__/
*.pyc

# Sistema
.DS_Store

# Base de datos
*.db
*.db-journal

# Ignorar scripts accidentales
Activate.ps1
Activate.ps1.*
.venvScriptsActivate.ps1*

